.ourProductsWrapper {
  margin: 2em 0;
}
.applyNowBtn {
  visibility: hidden;
}
.title {
  font-size: 1.7em;
  color: #f59019;
  text-align: center;
  margin: 3em 0;
  font-size: 2.1em;
  text-align: center;
  margin: 0.8em;
  font-weight: 600;
}
.ourProductsItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 2em;
  justify-content: center;
  margin-top: 2em;
}
.ourProductsItem:hover {
  background-color: lightblue;
  background-color: #60b5ff;
  background-color: #0648b3;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.applyNowBtn {
  background-color: #f59019;
  border-radius: 6px;
  color: white;
  padding: 10px 10px;
  border: none;
  margin-left: 0.8em;
  margin-top: 5px;
  width: 67%;
  margin: auto;
}
.ourProductsItem:hover .applyNowBtn {
  visibility: visible;
}
.ourProductsItem {
  flex-basis: 18%;
  text-align: center;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
  margin: 1em 8px;
  padding-top: 0.8em;
  padding-bottom: 0.29em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  perspective: 1000px;
  height: 310px;
  border-bottom-right-radius: 20px;
}
.ourProductsItem:hover .ourProductsItemInner {
  transform: rotateY(180deg);
}
.ourProductsItemFront,
.ourProductsItemBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.ourProductsItemBack {
  transform: rotateY(180deg);
}
.ourProductsItemInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.ourProductsItemBack {
}
.ourProductsItemImg {
  height: 50%;
  border-bottom: 1px solid #b7b7b761;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourProductsItemImg img {
  width: 100px;
  /* margin-bottom: 1e  m; */
  /* height: 80px; */
}
.ourProductsItem:hover h4 {
  color: white;
  font-weight: 400;
  height: 20%;
  font-size: 1.5em;
  margin-top: 1em;
}
.ourProductsItem h4 {
  color: #040c6c;
  color: #ffad50;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.9em;
  text-transform: capitalize;
}
.bottomBorderCenter {
  position: relative;
  display: inline-flex;
  left: 50%;
  transform: translateX(-50%);
}
.bottomBorderCenter::after {
  content: "";
  position: absolute;
  left: -19px;
  right: 0;
  width: 50px;
  margin: auto;
  height: 3px;
  bottom: -15px;
  /* border: 2px solid #f59019; */
  background-color: #f59019;
}
.creditApplyBtn {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}
