.ourProductsWrapper {
  margin: 2em 0;
}
.applyNowBtn {
  visibility: hidden;
}
.title {
  font-size: 1.7em;
  color: #fb9b34;
  text-align: center;
  margin: 1em 0;
}
.ourProductsItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 2em;
  justify-content: center;
  transition: background-color 4000ms ease;
}
.ourProductsItem:hover {
  background-color: lightblue;
}
.applyNowBtn {
  background-color: #fdab30;
  border-radius: 6px;
  color: white;
  padding: 5px 8px;
  border: none;
  margin-left: 0.8em;
  margin-top: 5px;
}
.ourProductsItem:hover .applyNowBtn {
  visibility: visible;
}
.ourProductsItem {
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 4px #999494;
  margin: 0.4em 8px;
  padding-top: 0.8em;
  padding-bottom: 0.29em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourProductsItemImg img {
  width: 100px;
  /* margin-bottom: 1e  m; */
  /* height: 80px; */
}
.ourProductsItem h4 {
  color: #040c6c;
  font-size: 1em;
  font-weight: 700;
  margin-top: 0.9em;
}
