.bankingPartnersWrapper {
  /* background-image: url("https://miro.medium.com/max/7796/1*-Edr3Rv56kStcgvsz-0jNg.jpeg"); */
  background-position: center;
  background-size: cover;
  /* height: 500px; */
  margin: 28px;
}
.title {
  color: #040c6c;
  font-size: 1.7em;
  text-align: center;
  margin: 1em;
}
.colorOverlay {
}
.bankingPartnerItem {
  background-color: white;
  width: 90% !important;
  /* flex-basis: 18%; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 120px;
  border-radius: 4px;
}
.bankingPartnerItem img {
  width: 150px;
}
.bankingPartnersItemWrapper {
}
