.navWrapper {
  display: flex;
  width: 100%;
  /* position: relative; */
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  height: 80px;
  transition: all 300ms ease;
}
.navWhite {
  background-color: white;
  box-shadow: 1px 2px 1px 1px #dddddd;
}
.navWrapper:hover {
  background-color: white;
}
.dropdownContentWrapper {
  visibility: hidden;
  background-color: #d5f3fd;
  color: blue;
  position: absolute;
  top: 80px;
  /* transition: visibility 300ms ease; */
}
.logoContainer {
  flex-basis: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer img {
  max-width: 88%;
}
.navItemWrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 85%;

  align-items: stretch;
}
.navLeft {
  flex-basis: 40%;
  display: flex;
  align-items: stretch;
}
.navRight {
  display: flex;
  align-items: stretch;
  flex-basis: 55%;
  justify-content: flex-end;
}
.navLeftUl {
  display: flex;
  /* justify-content: center; */
  margin-left: 30px;
}
.navItem {
  margin-left: 1em;
  cursor: pointer;
  color: #ff9800;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  font-weight: bold;
}
.navItem:not(.navApply):hover {
  background-color: #bee6f3;
}
.navItem:hover a {
  color: blue;
}
.navItem:hover {
  color: blue;
}
.navItem:hover .dropdownContentWrapper {
  visibility: visible;
  width: 260px;
  /* top: 54px; */
  left: 0;
  z-index: 3;
}
.dropdownItem {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}
.dropdownItem:hover {
  background-color: #a1dff3;
}
.navItem a {
  margin-left: 5px;
  color: #ff9800;
  font-weight: bold;
}
.navItem span {
  font-size: 12px;
}
.navRightUl {
  display: flex;

  justify-content: center;
}
.applyBtn {
  background-color: #ff9800;
  border-radius: 4px;
  color: white;
  padding: 8px 10px;
  border: none;
  font-weight: bold;
}
.navItem img {
  width: 30px;
}
.navBlue {
  display: none;
}
.navOrange {
  display: block;
}
.navIconLi:hover .navBlue {
  display: block;
}
.navIconLi:hover .navOrange {
  display: none;
}
