* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.App {
}
button {
  cursor: pointer;
  transition: background-color 250ms ease;
}
.expAdvice {
  display: flex;
  justify-content: center;
  padding: 0.8em;
  background: rgb(196, 231, 255);
  background: linear-gradient(
    45deg,
    rgba(196, 231, 255, 1) 0%,
    rgba(205, 234, 255, 1) 84%,
    rgba(158, 241, 247, 1) 100%
  );
}
.expAdvice h4 {
  color: #020c6d;
  font-weight: 400;
}
.getInTouchBtn {
  background-color: #ff9800;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
  border: none;
  margin-left: 0.8em;
}
.callBackBtn {
  background-color: #0066fb;
}
button:hover {
  background-color: #0066fb;
}
/* the slides */
.feedbackWrapper .slick-slider,
.feedbackWrapper .slick-list,
.feedbackWrapper .slick-track {
  /* margin: 0 3px; */
  height: 390px;
  display: flex;
  align-items: center;
}
/* the parent */
.slick-list {
  /* margin: 0 -3px; */
}
.slick-dots {
  bottom: 20px !important;
}
.slick-dots li.slick-active button:before {
  color: #010b6d !important;
}
.slick-dots li button:before {
  font-size: 16px !important;
  color: #ffffff !important;
  /* border: 1px solid #ff9933 !important; */
  opacity: 1 !important;
}

.slick-current .carouselCl {
  transform: scale(1.1) !important;
}
.feedbackWrapper .slick-slide > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
}
